/* Define color scheme for easy control */
:root {
    --bg-colour: #12100e;
    --bg-colour-hover: #1c1902;
    --text-colour: #D4DF9E;
    --accent-colour: #6B654B;
    --secondary-colour: #4A4B2F;
    --tile-bg: #30321C;
    --tile-border: #4A4B2F;
    --tile-shadow: #22231c;
    --font-mono: 'Press Start 2P', monospace;
}

/* Apply dark mode styles */
body {
    background-color: var(--bg-colour);
    color: var(--text-colour);
    font-family: var(--font-mono);
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

header {
    padding: 20px;
    font-size: 1.5rem;
    border-bottom: 3px solid var(--accent-colour);
}

header p {
    font-size: 1.2rem;
}

nav {
    margin-top: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    padding: 10px;
}

a:not(.tile) {
    color: var(--accent-colour);
    text-decoration: none;
    transition: ease 0.2s;
}

a:not(.tile):hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

a.tile {
    text-decoration: none;
    color: var(--text-colour);
}

div.tile {
    background: var(--tile-bg);
    border: 3px solid var(--tile-border);
    padding: 15px;
    margin: 15px auto;
    width: 80%;
    max-width: 400px;
    box-shadow: 5px 5px 0 var(--tile-shadow);
    text-transform: uppercase;
    transition: ease-in 0.1s;
}

div.tile:hover {
    scale: 1.01;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    padding: 10px;
    border-top: 3px solid var(--accent-colour);
}

div.name {
    position: relative;
    display: inline-block;
}

span.pronouns {
    position: absolute;
    color: var(--accent-colour);
    font-size: 1rem;
    bottom: 2.6rem;
    right: -6rem;
}

div.blog-wrapper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 1rem;
    box-sizing: border-box;
}

div.blog-wrapper h1 {
    text-align: center;
}

div.text-center {
    text-align: center;
}

/* ========================================================================== */
/*                               LOADER SPINNER                               */
/* ========================================================================== */

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: block;
    position: absolute;
    border: 10px solid;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
@keyframes animloader {
    0% {
        border-color: var(--secondary-colour) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    33% {
        border-color: var(--secondary-colour) var(--secondary-colour) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    66% {
        border-color: var(--secondary-colour) var(--secondary-colour) var(--secondary-colour) rgba(255, 255, 255, 0);
    }
    100% {
        border-color: var(--secondary-colour) var(--secondary-colour) var(--secondary-colour) var(--secondary-colour);
    }
}
